media/amongus.mp3
media/cutes/hug/*
media/cutes/kiss/*
media/cutes/pat/*
media

src/c/*.so
src/fortran
src/python/__pycache__
src/python/images_manipulation.py
database/*
database_old/*
main

out.txt
.env
node_modules*
pack*
index.js
git_token.txt
