media/amongus.mp3
media/cutes/*.png
media/cutes/*.gif
media

*.so
src/fortran
*__pycache__*
src/python/images_manipulation.py
database/*
database_old/*
main
result.png
wiki.png
*.raw*

out.txt
.env
node_modules*
pack*
index.js
git_token.txt
*.json
*.txt
data/*
