button{
    background-color: var(--none);
    transition: background 0.4s linear;
}

button:hover{
  background-color: var(--active);
  transition: background 0.4s linear;
}

h2{
  margin-left: 24px;
}

.page1 div.scrollable{

  border-radius: 20px;
  border-color: white;
  border-style: solid;
  border-width: 1px;

  display: grid;
  grid-template-columns: 100%;

  width: 100%;
  color: white;
  margin-top: 32px;
  margin-bottom: 32px;
}


.page1 div.top{
  position: fixed;
  height: 36px; top: 16px;
  width: 88%; left: 6%;
  z-index: 5;

  border-radius: 20px;
  border-color: white;
  border-style: solid;
  border-width: 1px;

  display: grid;
  grid-template-columns: 10% 70% 10% 10%;
  background-color: var(--background-d);
}

.page1 div.bottom{
  position: fixed;
  height: 48px; bottom: 16px;
  width: 88%; left: 6%;
  z-index: 5;

  border-radius: 20px;
  border-color: white;
  border-style: solid;
  border-width: 1px;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: var(--background-d);
}

.page1 div.top button{
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  border-width: 0px;
  border-radius: 8px;
}

.page1 div.top input{
  background-color: var(--element-c2d);
  border-width: 0px;
  color: var(--element-c2)
}

.page1 div.bottom button{
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  border-width: 0px;
  border-radius: 12px;

  width: 90%;
  height: 100%;
}

/* Content */

.page1 div.process #banner{
    position: relative;
    width: 80%; left: 10%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;

    margin-top: 48px;
}

.page1 div.process #banner img{
  position: relative;
  width: 33.3%;
}

/* Communities */

.community-show{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  /* background-color: red; */
}

li.community{
  position: relative;
  width: 144px;
  margin-left: 16px;
  margin-right: 16px;
}

li.community .bg-img{
  width: 144px;
  z-index: 0;
  border-radius: 12px;
}

li.community .logo{
  position: absolute;
  width: 64px;
  z-index: 1;
  left: -8px;
  border-radius: 6px;
}

li.community .name{
  position: absolute;
  font-size: 24px;
  text-align: center;
  z-index: 1;

  bottom: 64px;
  width: 90%; left: 5%;
}

li.community .check-in{
  position: absolute;
  z-index: 1;
  bottom: 16px;
  text-align: center;
  background-color: green;
  width: 90%; left: 5%;
  font-size: 18px;
  margin-top: 4px;
  margin-bottom: 4px;
}
