*{
  margin: 0px;
  padding: 0px;
}

.data{
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
}

.stdout{
  position: relative;
  width: 90%;
  height: auto;
  left: 5%;  top: 75px;
  border-style: solid;
  border-color: red;
  border-radius: 12px;
  border-width: 2px;
}

.stdin{
  position: relative;
  background-color: black;
  width: 90%;
  min-height: 480px;
  max-height: 520px;
  overflow: scroll;
  left: 5%; top: 32px;
}

/* Inner details */

.in-control{
  position: relative;
  width: auto;
  background-color: grey;
  padding: 12px 16px 16px 16px;
}

.in-control input{
  width: 84%; height: 64px;
  left: 4%;
}

.in-control button{
  width: 8%; height: 40px;
  margin-left: 40px;
}

.msg{
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.msg li{
  position: relative;
  left: 3%;
  min-width: 64px;
  max-width: 94%;
}

.msg p:nth-child(1){
  color: white;
  font-size: 16px;
}

.msg p:nth-child(2){
  color: white;
  font-size: 14px;
  background-color: blue;
  min-width: 24px;
  width: max-content;
  max-width: 95%;
  padding: 4px 8px 4px 8px;
}
